.btn {
    height: 45px;
    padding: 12px;
    border: 1px solid #BEC9D4;
    background: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
}

.primary-btn:hover {
    background-color: #ccc;
    border: 1px solid #ccc;
}